## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Ponta Delgada,37.7333,-25.6667,72.32,83,40,12.66,PT,2021-07-25 18:56:05,scattered clouds
1,1,Busselton,-33.6500,115.3333,58.08,66,5,20.22,AU,2021-07-25 18:57:34,clear sky
2,2,Rikitea,-23.1203,-134.9692,70.50,67,76,6.44,PF,2021-07-25 18:55:36,broken clouds
3,3,Coihaique,-45.5752,-72.0662,45.21,53,75,5.75,CL,2021-07-25 18:57:35,broken clouds
4,4,East London,-33.0153,27.9116,56.34,76,0,5.75,ZA,2021-07-25 18:57:35,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What would be the minimum temperature you desire for your trip? "))
max_temp = float(input("What would be the maximum temperature you desire for your trip? "))

What would be the minimum temperature you desire for your trip? 70
What would be the maximum temperature you desire for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_city_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
filtered_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Ponta Delgada,37.7333,-25.6667,72.32,83,40,12.66,PT,2021-07-25 18:56:05,scattered clouds
2,2,Rikitea,-23.1203,-134.9692,70.50,67,76,6.44,PF,2021-07-25 18:55:36,broken clouds
6,6,Bathsheba,13.2167,-59.5167,88.41,70,75,17.27,BB,2021-07-25 18:54:29,broken clouds
10,10,Rikitea,-23.1203,-134.9692,70.50,67,76,6.44,PF,2021-07-25 18:55:36,broken clouds
13,13,Ponta Do Sol,32.6667,-17.1000,76.71,78,1,4.38,PT,2021-07-25 18:54:09,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
1828,1828,Perene,-10.9492,-75.2261,89.69,33,0,4.65,PE,2021-07-25 19:04:20,clear sky
1829,1829,Katsuura,35.1333,140.3000,81.10,86,29,11.12,JP,2021-07-25 19:02:58,scattered clouds
1832,1832,Axim,4.8699,-2.2405,76.10,76,78,9.42,GH,2021-07-25 18:58:32,broken clouds
1834,1834,Puerto Escondido,15.8500,-97.0667,87.93,65,100,8.52,MX,2021-07-25 19:00:45,overcast clouds
1840,1840,Albany,42.6001,-73.9662,84.27,73,66,3.15,US,2021-07-25 18:54:00,broken clouds

In [9]:
# 4a. Determine if there are any empty rows.
filtered_city_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                1
Date                   0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = filtered_city_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Ponta Delgada,37.7333,-25.6667,72.32,83,40,12.66,PT,2021-07-25 18:56:05,scattered clouds
2,2,Rikitea,-23.1203,-134.9692,70.50,67,76,6.44,PF,2021-07-25 18:55:36,broken clouds
6,6,Bathsheba,13.2167,-59.5167,88.41,70,75,17.27,BB,2021-07-25 18:54:29,broken clouds
10,10,Rikitea,-23.1203,-134.9692,70.50,67,76,6.44,PF,2021-07-25 18:55:36,broken clouds
13,13,Ponta Do Sol,32.6667,-17.1000,76.71,78,1,4.38,PT,2021-07-25 18:54:09,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
1828,1828,Perene,-10.9492,-75.2261,89.69,33,0,4.65,PE,2021-07-25 19:04:20,clear sky
1829,1829,Katsuura,35.1333,140.3000,81.10,86,29,11.12,JP,2021-07-25 19:02:58,scattered clouds
1832,1832,Axim,4.8699,-2.2405,76.10,76,78,9.42,GH,2021-07-25 18:58:32,broken clouds
1834,1834,Puerto Escondido,15.8500,-97.0667,87.93,65,100,8.52,MX,2021-07-25 19:00:45,overcast clouds
1840,1840,Albany,42.6001,-73.9662,84.27,73,66,3.15,US,2021-07-25 18:54:00,broken clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ponta Delgada,PT,72.32,scattered clouds,37.7333,-25.6667,
2,Rikitea,PF,70.50,broken clouds,-23.1203,-134.9692,
6,Bathsheba,BB,88.41,broken clouds,13.2167,-59.5167,
10,Rikitea,PF,70.50,broken clouds,-23.1203,-134.9692,
13,Ponta Do Sol,PT,76.71,clear sky,32.6667,-17.1000,
17,La Asuncion,VE,82.09,overcast clouds,11.0333,-63.8628,
18,Vila Franca Do Campo,PT,72.01,scattered clouds,37.7167,-25.4333,
21,Hasaki,JP,75.60,clear sky,35.7333,140.8333,
22,Palu,ID,74.43,scattered clouds,-0.8917,119.8707,
27,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,

In [43]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Ponta Delgada,PT,72.32,scattered clouds,37.7333,-25.6667,
2,Rikitea,PF,70.50,broken clouds,-23.1203,-134.9692,
6,Bathsheba,BB,88.41,broken clouds,13.2167,-59.5167,
10,Rikitea,PF,70.50,broken clouds,-23.1203,-134.9692,
13,Ponta Do Sol,PT,76.71,clear sky,32.6667,-17.1000,

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
from ipywidgets.embed import embed_minimal_html
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
embed_minimal_html('export.html', views=[fig])
fig
#Jupyter refuses to display any and all gmaps figs I create so I looked up a way to export the file as a png, unfortunately
# that's not possible. However, I can save my results as an HTML file and open that to see my figure.

Figure(layout=FigureLayout(height='420px'))